# Visual Studio Extension Build Artifacts
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

# VSIX
*.vsix

# Build results
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/

# Rider
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
launchSettings.json
